.container{
    text-align: center;
    color: aliceblue;
}
#title{
    font-family:monospace;
}
#survey-form{
    text-align: left;
    max-width: 700px;
    margin: 0 auto;
    background-color: #1b1b32;
    color: aliceblue;
    padding: 40px;
    line-height: 24px;
}
.form-group{
    margin-bottom: 20px;
}
#submit-button{
    width: 600px;
    margin: 0 auto;
    background-color: green;
    color: white;
    line-height: 44px;
    cursor: pointer;
}
textarea{
    min-width: 600px;
    resize: none;
    font-size: 14px;
    font-family: 'Poppins';
}
body{
    background-color: #55558f;
}
input{
    outline-style: none;
    border: 0;
    border-radius: 5px;
    padding: 10px 2px;
    margin-top:2px;
}
input[type="text"]{
    width: 600px;
    font-size: 16px;
}
#description{
    font-style: italic;
}
select{
    width: 400px;
    padding: 7px 2px;
    outline-style: none;
    font-size: 16px;
}